select,
.select-underlay{
    padding: .5em 1em;

    color: #004aad;
    background-color: #02bea5;

    border: 1px solid black;
    border-radius: 50px;

    position: relative;
    z-index: 1;
}

select {
    text-align: center;
    font-family: 'Rubik Bubbles', serif;
    width: 100%;

    outline: none;
    appearance: none;
}

/* .select-underlay {
    background-color: white;

    position: absolute;
    top: 20%;
    right: -20%;
    z-index: 0;

} */
