.BoardsList {
    border: 1px solid black;
}

.BoardsList h2 {
    font-size: 1em;
    margin-left: 1em;
}

select,
.select-underlay{
    padding: .5em 1em;

    color: #004aad;
    background-color: #02bea5;

    border: 1px solid black;
    border-radius: 50px;
}

select {
    font-size: 1em;
    font-family: 'Rubik Bubbles', serif;

    outline: none;
    appearance: none;
}