.cards {
    columns: 3;
    list-style: none;
}

.cards li {
    /* background: #b5ebde; */
    background-image: url("../assets/inspo.board.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 15px;
    border: 1px solid #c7c9e0;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.cards li:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }