/* .Logo {
    background-image:url("../assets/inspo.board.png");
} */
/* background-image:url("../assets/inspo.board.png"); */

.card-container {
    position: relative;
    /* top: 5%;
    right: -5%; */
    z-index: 3; 
    border: 1px solid black;
    width: 250px;
}

/* .card-container img {
    position: absolute;
    top: -15%;
    left: -30%;
    z-index: -1;
    width: 150%;
    object-fit:cover;
    border: 1px solid black;
} */

.card-container button {

}




